<!doctype html>
<html>
  <head>
    <title>polymer-meter demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">

    <link rel="import" href="../polymer-meter.html">

    <style is="custom-style">
      .rpi-demo {
        width:80%;
        max-width: 900px;
        margin: 0 auto;
      }
      polymer-meter{
        --progress-meter-color: red;
      }
    </style>
  </head>
  <body>

    <polymer-meter></polymer-meter>
    <div class="rpi-demo center">
      <h3>Basic polymer-meter Demo</h3>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus quia saepe. Obcaecati quibusdam placeat commodi, officia expedita, consectetur id corporis nostrum molestias, dignissimos quae error velit a autem distinctio!</p>
        <p>Consequuntur, ducimus! Dolorum excepturi, recusandae explicabo officiis quidem fugit placeat, sit dolore dolor a distinctio voluptate provident doloremque sapiente, omnis molestias quibusdam suscipit qui harum. Impedit, voluptatum provident omnis ipsum.</p>
        <p>Harum excepturi hic nisi, maiores fugit voluptatem sunt alias accusamus eos mollitia eum temporibus, facilis in accusantium rerum id quidem ea doloremque odit quos! Cupiditate nostrum unde ipsa eveniet, mollitia.</p>
        <p>Quis debitis quod exercitationem facilis eius aliquid officiis quibusdam deleniti omnis quasi, consequuntur praesentium molestiae quae cumque vel eligendi tenetur sunt pariatur numquam enim voluptates in? Adipisci provident, animi dolore!</p>
        <p>Sed quas dolorem ipsa quasi, consequuntur quis sapiente assumenda debitis id incidunt a facilis unde in rem deserunt, neque eligendi vero tempora quae enim. Voluptate fuga, quo temporibus recusandae quas!</p>
        <p>Omnis et atque aspernatur magnam repellendus! Numquam sapiente nulla saepe consequuntur dolorem omnis adipisci, aspernatur nisi sunt magni, deserunt veritatis. Consequatur, quae voluptas suscipit quidem repudiandae atque vel neque qui.</p>
        <p>Autem accusamus voluptas sapiente reiciendis voluptatibus recusandae fuga ducimus fugit ab ullam ea deleniti temporibus, quidem. Consectetur, reiciendis adipisci voluptatibus ullam laudantium qui dignissimos suscipit ducimus, dolorum maiores earum nobis.</p>
        <p>Illum harum in porro at fugit ullam molestias veritatis atque aliquam ducimus. Voluptate, tempora. Quo esse nulla id voluptatum nihil cumque, consequatur alias aspernatur fugit nam eveniet dolores? Natus, quo?</p>
        <p>Animi similique tenetur placeat perferendis alias minima, eius nobis ipsum ea accusantium assumenda adipisci, laudantium fugit vero quasi! Tempora alias quae ratione eligendi error porro natus, at nemo doloribus nihil.</p>
        <p>Qui mollitia impedit quo amet sit tempora deserunt est ipsa at, neque asperiores aliquam alias maiores. Nisi, minus rerum quos nam adipisci. Accusamus ex fugiat cupiditate. Officia, sed illum in!</p>
        <p>Recusandae deleniti ut et accusantium, voluptatibus maxime eveniet voluptas iste. Ducimus reprehenderit tenetur autem eaque architecto id minus, nemo, quam impedit minima eum dolorem ab eius eveniet perferendis, fugiat aut.</p>
        <p>Eaque libero dolor adipisci minima labore, dignissimos, quia sunt quidem voluptatem maxime optio nemo eveniet reprehenderit assumenda atque reiciendis expedita corporis facere aliquid nesciunt. Unde qui accusantium praesentium eius minus.</p>
        <p>Veniam velit ut, quidem voluptatem esse ducimus minima est ullam cum placeat iure, repudiandae deleniti, unde recusandae doloribus sint culpa architecto explicabo fuga nisi libero commodi iusto expedita aliquam. Ipsam!</p>
        <p>Enim corporis, illum, iusto eveniet, a dolore in nisi iste, at animi deserunt. Ratione possimus, eos officia autem nesciunt vero accusamus quae quos voluptatum. Animi suscipit harum assumenda, aut esse.</p>
        <p>Adipisci eos aut delectus esse cumque ipsam fuga voluptate explicabo dignissimos. Maxime quidem a, cupiditate pariatur architecto eaque ad molestiae dignissimos assumenda doloribus soluta sunt, illum quae voluptatum dolorum vel.</p>
        <p>Facere et fugiat aspernatur nesciunt. Placeat adipisci, ullam sequi unde ratione, enim labore, dicta iste aliquid dolorum a eius! Necessitatibus neque quibusdam quaerat laboriosam similique molestias illo ipsam et fuga.</p>
        <p>Omnis quam eos odit praesentium eligendi non distinctio corrupti incidunt a laboriosam vitae tempora rem id sunt nihil ratione molestias dignissimos, nam amet consequuntur aperiam, necessitatibus reiciendis! Laudantium, hic, voluptates.</p>
        <p>Soluta consectetur quisquam dolorum culpa facilis, voluptatibus beatae at fugit sunt maxime doloremque rem totam vitae officia et alias voluptatem! Ipsam odit iure eveniet! Ex cumque temporibus iure, ducimus quae.</p>
        <p>Obcaecati hic, eligendi esse incidunt aperiam quo fuga, ad nostrum temporibus autem officiis fugiat repellendus tenetur, cupiditate alias maiores harum eveniet recusandae repudiandae! Unde minima aperiam officiis? Repellendus, assumenda ad!</p>
        <p>Itaque ea quis, odio porro voluptas soluta totam dolore quas impedit aspernatur ratione quia blanditiis doloribus est illum velit harum repellat optio, id! Commodi qui ducimus ea neque, fuga maiores?</p>
      </article>
    </div>

  </body>
</html>
